h1 {
  font-family: sans-serif;
  font-style: italic;
  color: blueviolet;
  text-transform: uppercase;
  text-align: center;
}
img {
  dísplay: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
